.archive {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  color: var(--foreground);
}

.archive .container {
  width: 100%;
  height: 100%;
  background-color: var(--background);
}

.archive-hero {
  position: relative;
  width: 100%;
  padding-top: 8em;
  background-color: var(--background);
  z-index: 2;
}

.archive-hero-img-wrapper {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.archive-hero-img-wrapper-row {
  display: flex;
  justify-content: space-between;
}

.archive-hero-img-wrapper-row p {
  font-size: 2rem;
}

.archive-hero-img {
  width: 100%;
  height: 400px;
  clip-path: polygon(
    0 0,
    96% 0,
    100% 14%,
    100% 100%,
    70% 100%,
    2% 100%,
    0 92%,
    0% 30%
  );
  border-radius: 2rem;
}

.archive-hero-img img {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sticky-archive {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1em;
  background-color: var(--background);
  z-index: 1;
}

.archive-col {
  position: relative;
  flex: 1;
  width: 50%;
}

.source {
  height: 100vh;
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.source .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.source-img {
  width: 100%;
  flex: 1;
  min-height: 0;
  margin-bottom: 1rem;
}

.source-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.source-content p {
  margin-bottom: 0.5rem;
}

.source-content {
  margin-top: 2rem;
}

.archive img {
  border-radius: 0.5rem;
}

.source-content h4 {
  text-transform: none;
  font-family: "Nippo";
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: -0.05rem;
}

.gallery {
  height: 175vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--background);
}

.gallery .container {
  padding-left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.gallery-copy {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.gallery-copy p.primary {
  text-transform: none;
}

.gallery-copy p.secondary {
  margin: 2rem 0 0.5rem 0;
  text-transform: uppercase;
  font-family: "NeueBit";
  font-size: 1.5rem;
  font-weight: bolder;
}

.gallery-copy h4 {
  text-transform: none;
  font-family: "Nippo";
  font-weight: 400;
  font-size: 1.75rem;
  letter-spacing: -0.05rem;
}

.gallery-images-container {
  padding-top: 4rem;
  width: 100%;
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4rem;
}

.main-img {
  flex: 1;
  min-height: 0;
}

.sub-images {
  display: flex;
  gap: 2em;
}

.sub-images-col {
  height: 300px;
}

.pin-spacer {
  flex-basis: 50% !important;
  width: 50% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.next-archive {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  gap: 1em;
  background-color: var(--background);
  z-index: 2;
}

.next-archive-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #173937;
  clip-path: polygon(
    5% 0,
    94% 0,
    100% 15%,
    100% 85%,
    95% 100%,
    5% 100%,
    0 85%,
    0 15%
  );
}

.marquee-archive {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.25;
}

.next-archive .container {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  gap: 1em;
}

.next-archive-img {
  width: 35%;
  height: 300px;
  clip-path: polygon(
    0 0,
    90% 0,
    100% 15%,
    100% 80%,
    100% 100%,
    5% 100%,
    0 90%,
    0% 20%
  );
}

.next-archive h2 {
  width: 50%;
  font-size: 4rem;
  text-transform: none;
  letter-spacing: -0.15rem;
}

@media (max-width: 900px) {
  .sticky-archive {
    flex-direction: column;
  }

  .archive-col {
    width: 100%;
  }

  .gallery .container {
    padding-left: 2em;
  }

  .archive-hero-img,
  .source-img {
    clip-path: polygon(
      0 0,
      92% 0,
      100% 12%,
      100% 100%,
      70% 100%,
      6% 100%,
      0 92%,
      0% 20%
    );
  }

  .gallery-images-container {
    gap: 2em;
  }

  .next-archive-bg {
    clip-path: polygon(
      5% 0,
      95% 0,
      100% 5%,
      100% 95%,
      95% 100%,
      5% 100%,
      0 95%,
      0 5%
    );
  }

  .next-archive-img {
    width: 90%;
  }

  .next-archive h2 {
    width: 80%;
  }
}
